html,body{
	height: 100%;
}

input[type="radio"]{
    display: none;
}

#ques1{ 
	margin-top: 350px;
	margin-bottom: 50px;
}
#ques1 h3, #ques1 h6, #ques2 h3,#ques2 h6, #ques1 .title, #ques2 .title, #image h5, #image span{
	font-family: 'Nanum Gothic';
	}
#subg{
	margin-bottom: 20px;
}
.question{
	padding-bottom: 20px;
}
.gap{
	margin-top:10px;
}

span.badge{
	float: left;
	padding-left: 0.5px;
	padding-right: 0.5;
	align-items: middle;
}
span.title{
	float: right;
	align-items: middle;
}

#line{
	margin-top: 100px;
}
.submit{
	margin-top:100px; 
	margin-bottom: 300px;
}

.invisible{
	visibility: hidden;
}
#ques2{
	padding-bottom: 100px;
	transform-style: preserve-3d;
}
#ques2 li{
	margin-top:10px;
}
#image{
	padding-top:250px ;
}
#image h5{
	margin-top:50px ;
}

.q{
	-webkit-animation: fadein 2s;
}
.ent{
	margin-top: 20px;
	margin-left: 10px;
}
@media(max-width: 576px){

	.changes{
		margin-top: 50px;
	}
	#ent{
	margin-top: 20px;
	margin-left: none;
	}
}
/*animation for fade in*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*spinner*/
.loader {
    border: 2px solid #ffffff; /* white */
    border-top: 2px solid #ff0000; /* red */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s ease infinite;
}
/*spinner animation*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
	}
